In [92]:
import pandas as pd
import numpy as np
import random

In [93]:
#file = "Exam Sched Prog Datasets.xlsx"
file = r"C:\Users\William Hazen\Documents\GitHub\exam-timetabling-smac\Exam Sched Prog Datasets.xlsx"

rooms = pd.read_excel(file, sheet_name = "datasets room caps ")
courses = pd.read_excel(file, sheet_name = "20221 course size")
enrolments = pd.read_excel(file, sheet_name = "20221 anonymized enrolments")
schedule = pd.read_excel(file, sheet_name = "20221 Final Schedule_fromLSM")

print('rooms\n',rooms,'\n\n','courses\n',courses,'\n\n','enrolments\n',enrolments,'\n\n','schedule\n',schedule)

rooms
           Bd         Room  Room Cap  \
0   APSCDept  ComputerLab       300
1         BA         1130        44
2         BA         1160        74
3         BA         1170        36
4         BA         1180        36
..       ...          ...       ...
67        WI         1016        48
68        WI         1017        33
69        WY          119        80
70        ZZ         KNOX       112
71        ZZ         VLAD       120

                                                 Note
0   some APSC exams use computer labs: not sure if...
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
67                                                NaN
68                                                NaN
69                                                NaN
70                                                NaN
71                                                NaN

[72 rows x 4 columns]

 courses
      SESSION_CD COURSE_CODE SECTIONCD ADMINFACULTYCODE ADMINDEPT  CURR_REG_QTY
0         20221    AER302H1        S             APSC      ESC              28
1         20221    AER304H1        S             APSC      ESC              28
2         20221    AER310H1        S             APSC      ESC              27
3         20221    AER336H1        S             APSC      ESC              39
4         20221    AER372H1        S             APSC      ESC              56
..          ...         ...       ...              ...       ...           ...
260       20221    TEP343H1        S             APSC      ISTEP            86
261       20221    TEP432H1        S             APSC      ISTEP             9
262       20221    TEP442H1        S             APSC      ISTEP           217
263       20221    TEP445H1        S             APSC      ISTEP            35
264       20221    TEP448H1        S             APSC      ISTEP            23

[265 rows x 6 columns]

 enrolments
                                  HASHED_PERSON_ID ACAD_ACT_CD  SESSION_CD
0      0x88C64687964896F37197F41E32A341566B0F2611    APS112H1       20221
1      0x88C64687964896F37197F41E32A341566B0F2611    CHE112H1       20221
2      0x88C64687964896F37197F41E32A341566B0F2611    CHE113H1       20221
3      0x88C64687964896F37197F41E32A341566B0F2611    CHE191H1       20221
4      0x88C64687964896F37197F41E32A341566B0F2611    CIV100H1       20221
...                                           ...         ...         ...
28130  0x2AB7F8A67CA43E3E935F6607F68536941975A46E    ESC102H1       20221
28131  0x2AB7F8A67CA43E3E935F6607F68536941975A46E    ESC190H1       20221
28132  0x2AB7F8A67CA43E3E935F6607F68536941975A46E    ESC195H1       20221
28133  0x2AB7F8A67CA43E3E935F6607F68536941975A46E    MAT185H1       20221
28134  0x2AB7F8A67CA43E3E935F6607F68536941975A46E    MSE160H1       20221

[28135 rows x 3 columns]

 schedule
         Faculty Department     Course Section   Sesson           Course Name  \
0          APSC        ESC  AER302H1S     ALL  20221.0       AIRCRAFT FLIGHT
1          APSC        ESC  AER310H1S     ALL  20221.0           GASDYNAMICS
2          APSC        ESC  AER336H1S     ALL  20221.0  SCIENTIFIC COMPUTING
3          APSC        ESC  AER372H1S     ALL  20221.0       CONTROL SYSTEMS
4          APSC        ESC  AER373H1S     ALL  20221.0  MECH.OF SOLIDS &STR.
...         ...        ...        ...     ...      ...                   ...
1048570     NaN        NaN        NaN     NaN      NaN                   NaN
1048571     NaN        NaN        NaN     NaN      NaN                   NaN
1048572     NaN        NaN        NaN     NaN      NaN                   NaN
1048573     NaN        NaN        NaN     NaN      NaN                   NaN
1048574     NaN        NaN        NaN     NaN      NaN                   NaN

          Bd  Room  bd_room   Examdate     Begin      Ends  Duration  \
0         SF  2202  SF_2202 2022-04-22  14:00:00  16:30:00     150.0
1         BA  1180  BA_1180 2022-04-28  18:30:00  21:00:00     150.0
2         BA  2165  BA_2165 2022-04-19  14:00:00  16:30:00     150.0
3         SF  3202  SF_3202 2022-04-27  18:30:00  21:00:00     150.0
4         BA  2175  BA_2175 2022-04-23  14:00:00  16:30:00     150.0
...      ...   ...      ...        ...       ...       ...       ...
1048570  NaN   NaN      NaN        NaT       NaN       NaN       NaN
1048571  NaN   NaN      NaN        NaT       NaN       NaN       NaN
1048572  NaN   NaN      NaN        NaT       NaN       NaN       NaN
1048573  NaN   NaN      NaN        NaT       NaN       NaN       NaN
1048574  NaN   NaN      NaN        NaT       NaN       NaN       NaN

         Enrolment  Course In Room  Room Cap  Total Occupancy
0             28.0            28.0      72.0             54.0
1             27.0            27.0      36.0             27.0
2             40.0            40.0      50.0             40.0
3             56.0            56.0     110.0             56.0
4             31.0            31.0      50.0             41.0
...            ...             ...       ...              ...
1048570        NaN             NaN       NaN              NaN
1048571        NaN             NaN       NaN              NaN
1048572        NaN             NaN       NaN              NaN
1048573        NaN             NaN       NaN              NaN
1048574   226334.0             NaN       NaN              NaN

[1048575 rows x 17 columns]

In [94]:
OG_Course_list = schedule.Course.dropna()
OG_Course_list = OG_Course_list.values

# Data Extraction

#### Random sample of ID's

In [95]:
qwe = enrolments["HASHED_PERSON_ID"].values
qwer = np.unique(qwe)
#random_sample_names_generator = (qwer[i] for i in range(np.random.randint(0, len(qwer)-1)))
random_sample_names_generator = (qwer[i] for i in range(500))
name = []

In [96]:
for i in random_sample_names_generator:
    name.append(i)
    
Student_ID_List = random.sample(name, len(name))
print(len(Student_ID_List))

500

#### Unique Exams for given student

In [97]:
Student_ID_Exams = []
#enrolments["HASHED_PERSON_ID"].loc[ID]
for ID in Student_ID_List:
    Student_ID_Exams.append(enrolments["ACAD_ACT_CD"][enrolments.eq(ID).any(1)].values)

C:\Users\William Hazen\AppData\Local\Temp\ipykernel_19476\1881659361.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  Student_ID_Exams.append(enrolments["ACAD_ACT_CD"][enrolments.eq(ID).any(1)].values)

In [98]:
Student_ID_Exams
exam_list = []
for exam in Student_ID_Exams:
    exam_list.append(exam.any())
    
uniq_exams = np.unique(exam_list)

In [99]:
new_enrol = pd.DataFrame(enrolments).copy()
new_enrol["class"] = 1

temp_df = new_enrol[new_enrol["HASHED_PERSON_ID"].isin(Student_ID_List)]
final_temp = temp_df[temp_df["ACAD_ACT_CD"].isin(uniq_exams)]
final_temp

,HASHED_PERSON_ID,ACAD_ACT_CD,SESSION_CD,class
51,0x0D3047BE294DD6D5277B658D011851E24AD7789D,CHE403H1,20221,1
53,0x0D3047BE294DD6D5277B658D011851E24AD7789D,FOR424H1,20221,1
56,0x0D3047BE294DD6D5277B658D011851E24AD7789D,PER001H1,20221,1
68,0x1112762BF630AB48C737D0485D267869564B5206,APS502H1,20221,1
69,0x1112762BF630AB48C737D0485D267869564B5206,CHE403H1,20221,1
...,...,...,...,...
27904,0x032957EDE4D4596FB9B3FF32FEF52A121A42F7DA,APS112H1,20221,1
27954,0x022B32ED7918F991CFC87A7088563957D1AFB5F0,APS106H1,20221,1
27955,0x022B32ED7918F991CFC87A7088563957D1AFB5F0,APS112H1,20221,1
27957,0x022B32ED7918F991CFC87A7088563957D1AFB5F0,ECE110H1,20221,1
28048,0x08EB5C39A2116B4250B32B18B0D50D39C0612D06,ECE159H1,20221,1

#### Course Enrollment

In [100]:
courses_enrollments_set = pd.pivot_table(data=final_temp, values="class", index="ACAD_ACT_CD", columns=["HASHED_PERSON_ID"], fill_value=0)
#split_df[split_df["0x0002FF223364B9840210B8000907043A6B4EE313"] == 1]
courses_enrollments_set

HASHED_PERSON_ID,0x0002FF223364B9840210B8000907043A6B4EE313,0x0010F32B4F8F75A13D8DF229E7F9ECD03FCC8109,0x001A5BD2042986281855F45799DC3FB26344C6FA,0x001ED7DD124B5CB4B7E2640E8F2A4BCC28695EA3,0x0035C6E9A3D00ECE1E970F098EC0A94BD76BEC78,0x0038A8D0ED175C5D4160C299035830076FF5118D,0x0041F0CA81DAB24B8F644B1C4453EBD226D2A24E,0x005FFE927C8C1D84D3BAA3FBC62B76A75116838D,0x00610546E95FA027E56C2FCC5C1F7B68C07A4DF7,0x0068862EFE36B41C43E4D6BAECF09029E6FAB055,...,0x156AA8BB2D8D743414FCC9112F0D5373F432DFCA,0x157442F8E9513608D00F242CFD4D8D5DE48D10A8,0x15745E4E067F8141209E5DEAE17ECE8F259CD0C3,0x157C1C396CCAC1FBA33A454850D84DCD2CAB16F7,0x158089BCE012BE037983E6D233465CC2ED9F449B,0x158E6EF5EC9D49C3C0F8694F6C921945506DD891,0x15A45786EE983EEBC2F6B02BECCD6E063FB1FA1D,0x15E10EE813D739E49C523144F8685A35833BC45B,0x15F03454793131534FBCCDE621A02048D9429167,0x15F8E2828FE03CFC7B0CB9511C63D4BB71BB872F
ACAD_ACT_CD,,,,,,,,,,,,,,,,,,,,,
AER302H1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AER372H1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AER406H1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ANT100Y1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ANT204H1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MSE490H1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PER001H1,1,1,0,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
PEY500Y1,0,0,0,0,0,1,0,0,0,1,...,0,0,1,0,1,0,1,1,0,0
SOC100H1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TEP445H1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
courses_enrollments_set_array = courses_enrollments_set.values

In [102]:
enrol = []
#enrolments["HASHED_PERSON_ID"].loc[ID]
ID =  Student_ID_List[0]
ID = "0x0002FF223364B9840210B8000907043A6B4EE313"
temp_df = enrolments[enrolments.eq(ID).any(1)] 
temp_df

C:\Users\William Hazen\AppData\Local\Temp\ipykernel_19476\419380268.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  temp_df = enrolments[enrolments.eq(ID).any(1)]

                                HASHED_PERSON_ID ACAD_ACT_CD  SESSION_CD
5349  0x0002FF223364B9840210B8000907043A6B4EE313    ECE496Y1       20221
5350  0x0002FF223364B9840210B8000907043A6B4EE313    ECE532H1       20221
5351  0x0002FF223364B9840210B8000907043A6B4EE313    PER001H1       20221

# Cleaning Room Table

In [103]:
#Cleaning room table

rooms['Room'] = rooms['Room'].astype(str)
rooms['Room'] = rooms['Bd'].str.cat(rooms['Room'], sep = " ")

rooms = rooms.drop(['Note','Bd'], axis=1)

rooms

                    Room  Room Cap
0   APSCDept ComputerLab       300
1                BA 1130        44
2                BA 1160        74
3                BA 1170        36
4                BA 1180        36
..                   ...       ...
67               WI 1016        48
68               WI 1017        33
69                WY 119        80
70               ZZ KNOX       112
71               ZZ VLAD       120

[72 rows x 2 columns]

In [104]:
#Room capacities in list format

rmlist = rooms['Room'].tolist()
caplist = rooms['Room Cap'].tolist()

print(rmlist,'\n\n',caplist)

['APSCDept ComputerLab', 'BA 1130', 'BA 1160', 'BA 1170', 'BA 1180', 'BA 1190', 'BA 2159', 'BA 2165', 'BA 2175', 'BA 2185', 'BA 2195', 'BN 3', 'BN 2N', 'BN 2N', 'BN 2S', 'BN 2S', 'BR 200', 'EJ 120', 'EJ 130', 'EJ 209', 'EJ 320', 'EJ 330', 'EJ BN', 'EJ GT', 'EJ WH', 'EM 119', 'ES 1050', 'EX 100', 'EX 200', 'EX 300', 'EX 310', 'EX 320', 'GB 303', 'GB 304', 'HA 410', 'MC 102', 'MC 252', 'MC 254', 'MP 102', 'MP 103', 'MP 202', 'MP 203', 'MS 2158', 'MS 2170', 'MS 2172', 'MS 3153', 'MS 3154', 'MY 150', 'MY 315', 'MY 330', 'MY 360', 'MY 380', 'PB B150', 'PB B250', 'RW 110', 'RW 117', 'SF 2202', 'SF 3202', 'SS 2102', 'SS 2117', 'SS 2118', 'ST VLAD', 'TC 239', 'WB 116', 'WB 119', 'WB 130', 'WB 219', 'WI 1016', 'WI 1017', 'WY 119', 'ZZ KNOX', 'ZZ VLAD']

 [300, 44, 74, 36, 36, 35, 35, 50, 50, 50, 50, 231, 384, 192, 384, 192, 125, 50, 50, 50, 45, 45, 100, 100, 50, 45, 109, 309, 335, 108, 106, 120, 49, 72, 50, 94, 38, 38, 56, 56, 53, 53, 143, 37, 37, 79, 69, 235, 48, 36, 48, 32, 75, 60, 43, 43, 72, 110, 52, 52, 52, 120, 80, 82, 30, 40, 30, 48, 33, 80, 112, 120]

# Cleaning Course Data

In [105]:
#Cleaning course data

courses['COURSE_CODE'] = courses['COURSE_CODE'].str.cat(courses['SECTIONCD'], sep = "")
courses = courses.drop(['SESSION_CD','SECTIONCD','ADMINFACULTYCODE','ADMINDEPT'], axis=1)

courses

    COURSE_CODE  CURR_REG_QTY
0    AER302H1S             28
1    AER304H1S             28
2    AER310H1S             27
3    AER336H1S             39
4    AER372H1S             56
..          ...           ...
260  TEP343H1S             86
261  TEP432H1S              9
262  TEP442H1S            217
263  TEP445H1S             35
264  TEP448H1S             23

[265 rows x 2 columns]

In [106]:
courses['COURSE_CODE']

0      AER302H1S
1      AER304H1S
2      AER310H1S
3      AER336H1S
4      AER372H1S
          ...
260    TEP343H1S
261    TEP432H1S
262    TEP442H1S
263    TEP445H1S
264    TEP448H1S
Name: COURSE_CODE, Length: 265, dtype: object

In [107]:
#Course data in list format

crselist = courses['COURSE_CODE'].tolist()
sizelist = courses['CURR_REG_QTY'].tolist()

print(crselist,'\n\n',sizelist)

['AER302H1S ', 'AER304H1S ', 'AER310H1S ', 'AER336H1S ', 'AER372H1S ', 'AER373H1S ', 'AER406H1S ', 'AER503H1S ', 'AER510H1S ', 'APS105H1S ', 'APS106H1S ', 'APS111H1S ', 'APS112H1S ', 'APS113Y1Y ', 'APS164H1S ', 'APS191H1S ', 'APS305H1S ', 'APS360H1S ', 'APS420H1S ', 'APS440H1S ', 'APS490Y1Y ', 'APS502H1S ', 'APS511H1S ', 'APS530H1S ', 'BME205H1S ', 'BME330H1S ', 'BME331H1S ', 'BME346H1S ', 'BME352H1S ', 'BME358H1S ', 'BME396H1S ', 'BME410H1S ', 'BME498Y1Y ', 'BME530H1S ', 'CHE112H1S ', 'CHE113H1S ', 'CHE191H1S ', 'CHE205H1S ', 'CHE210H1S ', 'CHE213H1S ', 'CHE222H1S ', 'CHE223H1S ', 'CHE230H1S ', 'CHE305H1S ', 'CHE311H1S ', 'CHE322H1S ', 'CHE333H1S ', 'CHE334H1S ', 'CHE354H1S ', 'CHE375H1S ', 'CHE403H1S ', 'CHE412H1S ', 'CHE430Y1S ', 'CHE460H1S ', 'CHE462H1S ', 'CHE469H1S ', 'CHE471H1S ', 'CHE475H1S ', 'CHE488H1S ', 'CHE499Y1Y ', 'CHE507H1S ', 'CHE561H1S ', 'CHE564H1S ', 'CHE568H1S ', 'CIV100H1S ', 'CIV185H1S ', 'CIV191H1S ', 'CIV209H1S ', 'CIV214H1S ', 'CIV250H1S ', 'CIV300H1S ', 'CIV313H1S ', 'CIV324H1S ', 'CIV332H1S ', 'CIV340H1S ', 'CIV380H1S ', 'CIV382Y1Y ', 'CIV440H1S ', 'CIV498H1S ', 'CIV510H1S ', 'CIV516H1S ', 'CIV518H1S ', 'CIV576H1S ', 'CIV577H1S ', 'CIV580H1S ', 'CME259H1S ', 'CME262H1S ', 'CME263H1S ', 'CME499H1S ', 'CME499Y1Y ', 'CME500H1S ', 'ECE110H1S ', 'ECE159H1S ', 'ECE191H1S ', 'ECE216H1S ', 'ECE221H1S ', 'ECE231H1S ', 'ECE243H1S ', 'ECE259H1S ', 'ECE286H1S ', 'ECE295H1S ', 'ECE297H1S ', 'ECE302H1S ', 'ECE311H1S ', 'ECE313H1S ', 'ECE316H1S ', 'ECE318H1S ', 'ECE324H1S ', 'ECE330H1S ', 'ECE334H1S ', 'ECE342H1S ', 'ECE344H1S ', 'ECE345H1S ', 'ECE350H1S ', 'ECE353H1S ', 'ECE354H1S ', 'ECE356H1S ', 'ECE357H1S ', 'ECE361H1S ', 'ECE363H1S ', 'ECE368H1S ', 'ECE411H1S ', 'ECE412H1S ', 'ECE419H1S ', 'ECE421H1S ', 'ECE422H1S ', 'ECE437H1S ', 'ECE448H1S ', 'ECE462H1S ', 'ECE463H1S ', 'ECE464H1S ', 'ECE466H1S ', 'ECE469H1S ', 'ECE470H1S ', 'ECE472H1S ', 'ECE496Y1Y ', 'ECE499H1S ', 'ECE499Y1Y ', 'ECE516H1S ', 'ECE532H1S ', 'ECE568H1S ', 'ESC102H1S ', 'ESC190H1S ', 'ESC195H1S ', 'ESC204H1S ', 'ESC301H1Y ', 'ESC470H1S ', 'ESC471H1S ', 'ESC472H1S ', 'ESC490H1S ', 'ESC491H1S ', 'ESC499H1S ', 'ESC499Y1Y ', 'FOR424H1S ', 'FOR425H1S ', 'HPS283H1S ', 'JRE300H1S ', 'JRE410H1S ', 'JRE420H1S ', 'MAT185H1S ', 'MAT186H1S ', 'MAT187H1S ', 'MAT188H1S ', 'MAT234H1S ', 'MIE100H1S ', 'MIE191H1S ', 'MIE210H1S ', 'MIE221H1S ', 'MIE222H1S ', 'MIE237H1S ', 'MIE240H1S ', 'MIE253H1S ', 'MIE262H1S ', 'MIE263H1S ', 'MIE304H1S ', 'MIE311H1S ', 'MIE313H1S ', 'MIE315H1S ', 'MIE320H1S ', 'MIE334H1S ', 'MIE335H1S ', 'MIE345H1S ', 'MIE346H1S ', 'MIE363H1S ', 'MIE364H1S ', 'MIE367H1S ', 'MIE369H1S ', 'MIE376H1S ', 'MIE377H1S ', 'MIE402H1S ', 'MIE408H1S ', 'MIE424H1S ', 'MIE438H1S ', 'MIE439H1S ', 'MIE441H1S ', 'MIE443H1S ', 'MIE457H1S ', 'MIE459H1S ', 'MIE469H1S ', 'MIE490Y1Y ', 'MIE491Y1Y ', 'MIE498H1S ', 'MIE498Y1Y ', 'MIE504H1S ', 'MIE506H1S ', 'MIE507H1S ', 'MIE517H1S ', 'MIE519H1S ', 'MIE520H1S ', 'MIE533H1S ', 'MIE540H1S ', 'MIE542H1S ', 'MIE550H1S ', 'MIE561H1S ', 'MIE567H1S ', 'MIN120H1S ', 'MIN191H1S ', 'MIN250H1S ', 'MIN301H1S ', 'MIN320H1S ', 'MIN330H1S ', 'MIN351H1S ', 'MIN467H1S ', 'MIN470H1S ', 'MSE120H1S ', 'MSE160H1S ', 'MSE191H1S ', 'MSE217H1S ', 'MSE218H1S ', 'MSE222H1S ', 'MSE238H1S ', 'MSE245H1S ', 'MSE297H1S ', 'MSE298H1Y ', 'MSE301H1S ', 'MSE332H1S ', 'MSE335H1S ', 'MSE355H1S ', 'MSE398Y1Y ', 'MSE403H1S ', 'MSE431H1S ', 'MSE435H1S ', 'MSE443H1S ', 'MSE455H1S ', 'MSE458H1S ', 'MSE462H1S ', 'MSE490H1S ', 'MSE493H1S ', 'MSE498Y1Y ', 'PHY294H1S ', 'PHY327H1S ', 'PHY427H1S ', 'ROB311H1S ', 'ROB313H1S ', 'ROB498H1S ', 'ROB521H1S ', 'TEP281H1S ', 'TEP321H1S ', 'TEP324H1S ', 'TEP327H1S ', 'TEP343H1S ', 'TEP432H1S ', 'TEP442H1S ', 'TEP445H1S ', 'TEP448H1S ']

 [28, 28, 27, 39, 56, 31, 19, 11, 24, 404, 448, 19, 936, 0, 20, 230, 42, 270, 46, 17, 0, 91, 9, 5, 281, 9, 56, 26, 26, 26, 26, 10, 0, 10, 229, 133, 135, 108, 107, 109, 106, 110, 106, 125, 123, 124, 125, 122, 47, 25, 73, 1, 19, 17, 61, 26, 4, 28, 26, 0, 27, 22, 3, 22, 81, 100, 100, 102, 110, 103, 89, 107, 100, 103, 102, 108, 0, 69, 79, 22, 52, 34, 33, 40, 31, 124, 114, 117, 1, 0, 5, 684, 275, 226, 362, 369, 361, 373, 277, 291, 83, 292, 51, 107, 31, 20, 125, 76, 14, 80, 77, 51, 36, 18, 90, 12, 50, 20, 115, 10, 115, 25, 8, 94, 174, 8, 15, 31, 21, 19, 4, 12, 8, 51, 207, 0, 1, 0, 14, 24, 178, 276, 267, 276, 301, 0, 4, 4, 10, 5, 3, 6, 0, 112, 28, 40, 149, 190, 216, 257, 19, 866, 60, 184, 576, 207, 185, 187, 189, 129, 130, 129, 129, 130, 50, 80, 192, 191, 63, 187, 118, 40, 155, 118, 124, 13, 16, 25, 25, 7, 13, 44, 63, 46, 19, 35, 28, 102, 60, 0, 0, 0, 0, 41, 13, 40, 30, 75, 2, 2, 74, 26, 10, 33, 14, 23, 21, 12, 14, 16, 19, 16, 7, 7, 71, 270, 59, 56, 64, 62, 59, 56, 57, 0, 24, 45, 55, 41, 0, 7, 35, 3, 24, 7, 7, 1, 48, 15, 0, 277, 0, 9, 84, 24, 50, 73, 8, 18, 19, 35, 86, 9, 217, 35, 23]

In [108]:
OG_Course_list

array(['AER302H1S', 'AER310H1S', 'AER336H1S', ..., 'URD1012YS',
       'URD2015YS', 'URD2015YS'], dtype=object)

In [109]:
OG_CL = list(OG_Course_list)

In [110]:
s_CL = list(uniq_exams)

In [111]:
OG_CL[0:4]

['AER302H1S', 'AER310H1S', 'AER336H1S', 'AER372H1S']

In [112]:
s_CL[0:4]

['AER302H1', 'AER372H1', 'AER406H1', 'ANT100Y1']

In [113]:
unique_course_list=[]
for course in OG_CL:
    for crs in uniq_exams:
        if course[0:8] == crs:
            unique_course_list.append(course)

In [114]:
unique_course_list

['AER302H1S',
 'AER372H1S',
 'APS105H1S',
 'APS105H1S',
 'APS106H1S',
 'APS106H1S',
 'APS106H1S',
 'APS112H1S',
 'APS113Y1Y',
 'APS305H1S',
 'APS360H1S',
 'APS420H1S',
 'APS502H1S',
 'BME205H1S',
 'BME205H1S',
 'BME330H1S',
 'BME331H1S',
 'BME346H1S',
 'CHE354H1S',
 'CHE507H1S',
 'CIV185H1S',
 'CIV209H1S',
 'CIV214H1S',
 'CIV300H1S',
 'CIV313H1S',
 'CIV324H1S',
 'CIV440H1S',
 'ECE110H1S',
 'ECE110H1S',
 'ECE110H1S',
 'ECE159H1S',
 'ECE216H1S',
 'ECE216H1S',
 'ECE221H1S',
 'ECE221H1S',
 'ECE221H1S',
 'ECE231H1S',
 'ECE231H1S',
 'ECE259H1S',
 'ECE302H1S',
 'ECE311H1S',
 'ECE313H1S',
 'ECE318H1S',
 'ECE330H1S',
 'ECE334H1S',
 'ECE334H1S',
 'ECE342H1S',
 'ECE353H1S',
 'ECE356H1S',
 'ECE419H1S',
 'ECE419H1S',
 'ECE421H1S',
 'ECE437H1S',
 'ECE472H1S',
 'ECE472H1S',
 'ECE568H1S',
 'FOR424H1S',
 'FOR424H1S',
 'HPS283H1S',
 'JRE300H1S',
 'JRE410H1S',
 'JRE420H1S',
 'MAT234H1S',
 'MIE210H1S',
 'MIE210H1S',
 'MIE210H1S',
 'MIE210H1S',
 'MIE237H1S',
 'MIE237H1S',
 'MIE253H1S',
 'MIE253H1S',
 'MIE304H1S',
 'MIE311H1S',
 'MIE313H1S',
 'MIE315H1S',
 'MIE315H1S',
 'MIE335H1S',
 'MIE402H1S',
 'MIE457H1S',
 'MIE459H1S',
 'MSE217H1S',
 'MSE218H1S',
 'MSE490H1S',
 'ANT100Y1Y',
 'ANT204H1S',
 'AST121H1S',
 'CDN221H1S',
 'CLA204H1S',
 'CSC263H1S',
 'CSC263H1S',
 'CSC263H1S',
 'CSC300H1S',
 'CSC317H1S',
 'CSC343H1S',
 'CSC343H1S',
 'CSC384H1S',
 'CSC384H1S',
 'CSC384H1S',
 'CSC401H1S',
 'CSC488H1S',
 'GGR124H1S',
 'GGR124H1S',
 'SOC100H1S']

# Enrolment data

In [133]:
#No cleaning needed for enrolment data

#Enrolment data in list format

idlist = enrolments['HASHED_PERSON_ID'].tolist()
classlist = enrolments['ACAD_ACT_CD'].tolist()

#print(idlist,'\n\n',classlist)

In [116]:
#Cleaning schedule data

schedule['Room'] = schedule['Room'].astype(str)
schedule['Examdate'] = schedule['Examdate'].astype(str)
schedule['Begin'] = schedule['Begin'].astype(str)
schedule['Ends'] = schedule['Ends'].astype(str)

schedule['Room'] = schedule['Bd'].str.cat(schedule['Room'], sep = " ")

schedule = schedule.drop(['Bd','Faculty','Department','Section','Sesson','Course Name','Duration'], axis=1)

schedule.replace('ZZ REFER_TO_FACULTY_SCHEDULE', 'None', inplace=True)
schedule.replace('ZZ REFER_TO_FACULTY_SCHEDULE', 'None', inplace=True)
schedule.replace('ZZ ONLIN', 'None', inplace=True)
schedule.replace('APSCDept APSCDept', 'None', inplace=True)
schedule.replace('APSCDept ComputerLab', 'None', inplace=True)
schedule.replace('ZZ KNOX', 'None', inplace=True)
schedule.replace('ZZ VLAD', 'None', inplace=True)
schedule.replace('ZZ ONLINMUSIC', 'None', inplace=True)

schedule

,Course,Room,bd_room,Examdate,Begin,Ends,Enrolment,Course In Room,Room Cap,Total Occupancy
0,AER302H1S,SF 2202,SF_2202,2022-04-22,14:00:00,16:30:00,28.0,28.0,72.0,54.0
1,AER310H1S,BA 1180,BA_1180,2022-04-28,18:30:00,21:00:00,27.0,27.0,36.0,27.0
2,AER336H1S,BA 2165,BA_2165,2022-04-19,14:00:00,16:30:00,40.0,40.0,50.0,40.0
3,AER372H1S,SF 3202,SF_3202,2022-04-27,18:30:00,21:00:00,56.0,56.0,110.0,56.0
4,AER373H1S,BA 2175,BA_2175,2022-04-23,14:00:00,16:30:00,31.0,31.0,50.0,41.0
...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaT,nan,nan,226334.0,NaN,NaN,NaN

In [117]:
#Schedule data in list format

schdcrselist = schedule['Course'].tolist()
schdroomlist = schedule['Room'].tolist()
exmdatelist = schedule['Examdate'].tolist()
starttimelist = schedule['Begin'].tolist()
endtimelist = schedule['Ends'].tolist()
enrllist = schedule['Enrolment'].tolist()
crseinroomlist = schedule['Course In Room'].tolist()
roomcaplist = schedule['Room Cap'].tolist()
totalocclist = schedule['Total Occupancy'].tolist()

#print(schdcrselist,'\n\n',schdroomlist,'\n\n',exmdatelist,'\n\n',starttimelist,'\n\n',endtimelist,'\n\n',enrllist,'\n\n',crseinroomlist,'\n\n',roomcaplist,'\n\n',totalocclist,'\n\n')

In [118]:
schedule

,Course,Room,bd_room,Examdate,Begin,Ends,Enrolment,Course In Room,Room Cap,Total Occupancy
0,AER302H1S,SF 2202,SF_2202,2022-04-22,14:00:00,16:30:00,28.0,28.0,72.0,54.0
1,AER310H1S,BA 1180,BA_1180,2022-04-28,18:30:00,21:00:00,27.0,27.0,36.0,27.0
2,AER336H1S,BA 2165,BA_2165,2022-04-19,14:00:00,16:30:00,40.0,40.0,50.0,40.0
3,AER372H1S,SF 3202,SF_3202,2022-04-27,18:30:00,21:00:00,56.0,56.0,110.0,56.0
4,AER373H1S,BA 2175,BA_2175,2022-04-23,14:00:00,16:30:00,31.0,31.0,50.0,41.0
...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaT,nan,nan,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaT,nan,nan,226334.0,NaN,NaN,NaN

In [119]:
temp_exam = ["AER302H1S", "AER336H1S", "AER310H1S"]

In [120]:
new_schedule = pd.DataFrame(schedule).copy()

temp_sch_df = new_schedule[new_schedule["Course"].isin(unique_course_list)]
#final_sch_temp = temp_sch_df[temp_sch_df["Course"].isin(uniq_exams)]
temp_sch_df

,Course,Room,bd_room,Examdate,Begin,Ends,Enrolment,Course In Room,Room Cap,Total Occupancy
0,AER302H1S,SF 2202,SF_2202,2022-04-22,14:00:00,16:30:00,28.0,28.0,72.0,54.0
3,AER372H1S,SF 3202,SF_3202,2022-04-27,18:30:00,21:00:00,56.0,56.0,110.0,56.0
7,APS105H1S,BN 3,BN_3,2022-04-23,09:30:00,12:00:00,453.0,128.0,231.0,229.0
8,APS105H1S,EX 200,EX_200,2022-04-23,09:30:00,12:00:00,453.0,325.0,335.0,325.0
9,APS106H1S,BN 2N,BN_2N,2022-04-23,09:30:00,12:00:00,484.0,192.0,384.0,192.0
...,...,...,...,...,...,...,...,...,...,...
401,CSC401H1S,EX 200,EX_200,2022-04-12,19:00:00,22:00:00,202.0,202.0,335.0,285.0
404,CSC488H1S,TC 239,TC_239,2022-04-13,19:00:00,21:00:00,70.0,70.0,80.0,70.0
544,GGR124H1S,None,ZZ_ONLIN,2022-04-19,09:00:00,11:00:00,361.0,361.0,2000.0,1240.0
545,GGR124H1S,None,ZZ_ONLIN,2022-04-19,09:00:00,11:00:00,352.0,352.0,2000.0,1240.0
898,SOC100H1S,None,ZZ_ONLIN,2022-04-12,19:00:00,22:00:00,808.0,808.0,2000.0,1712.0

In [121]:
#Schedule data in list format

schdcrselist = temp_sch_df['Course'].tolist()
schdroomlist = temp_sch_df['Room'].tolist()
exmdatelist = temp_sch_df['Examdate'].tolist()
starttimelist = temp_sch_df['Begin'].tolist()
endtimelist = temp_sch_df['Ends'].tolist()
enrllist = temp_sch_df['Enrolment'].tolist()
crseinroomlist = temp_sch_df['Course In Room'].tolist()
roomcaplist = temp_sch_df['Room Cap'].tolist()
totalocclist = temp_sch_df['Total Occupancy'].tolist()

In [122]:
examdate_time_list = (temp_sch_df['Examdate'].astype(str) + " : " + temp_sch_df['Begin']).tolist()
examdate_time_list

['2022-04-22 : 14:00:00',
 '2022-04-27 : 18:30:00',
 '2022-04-23 : 09:30:00',
 '2022-04-23 : 09:30:00',
 '2022-04-23 : 09:30:00',
 '2022-04-23 : 09:30:00',
 '2022-04-23 : 09:30:00',
 '2022-04-19 : 09:30:00',
 '2022-04-19 : 09:30:00',
 '2022-04-28 : 14:00:00',
 '2022-04-21 : 14:00:00',
 '2022-04-19 : 18:30:00',
 '2022-04-29 : 09:30:00',
 '2022-04-26 : 09:30:00',
 '2022-04-26 : 09:30:00',
 '2022-04-25 : 18:30:00',
 '2022-04-26 : 14:00:00',
 '2022-04-28 : 18:30:00',
 '2022-04-29 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-21 : 09:30:00',
 '2022-04-28 : 09:30:00',
 '2022-04-19 : 09:30:00',
 '2022-04-29 : 14:00:00',
 '2022-04-27 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-25 : 14:00:00',
 '2022-04-21 : 09:30:00',
 '2022-04-21 : 09:30:00',
 '2022-04-21 : 09:30:00',
 '2022-04-21 : 14:00:00',
 '2022-04-28 : 14:00:00',
 '2022-04-28 : 14:00:00',
 '2022-04-20 : 09:30:00',
 '2022-04-20 : 09:30:00',
 '2022-04-20 : 09:30:00',
 '2022-04-25 : 09:30:00',
 '2022-04-25 : 09:30:00',
 '2022-04-22 : 18:30:00',
 '2022-04-27 : 09:30:00',
 '2022-04-25 : 14:00:00',
 '2022-04-26 : 14:00:00',
 '2022-04-30 : 09:30:00',
 '2022-04-22 : 14:00:00',
 '2022-04-19 : 14:00:00',
 '2022-04-19 : 14:00:00',
 '2022-04-27 : 18:30:00',
 '2022-04-21 : 09:30:00',
 '2022-04-20 : 14:00:00',
 '2022-04-20 : 14:00:00',
 '2022-04-20 : 14:00:00',
 '2022-04-26 : 18:30:00',
 '2022-04-20 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-30 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-21 : 18:30:00',
 '2022-04-29 : 09:30:00',
 '2022-04-19 : 09:30:00',
 '2022-04-28 : 09:30:00',
 '2022-04-26 : 18:30:00',
 '2022-04-20 : 09:30:00',
 '2022-04-20 : 09:30:00',
 '2022-04-20 : 09:30:00',
 '2022-04-20 : 09:30:00',
 '2022-04-25 : 18:30:00',
 '2022-04-25 : 18:30:00',
 '2022-04-30 : 09:30:00',
 '2022-04-30 : 09:30:00',
 '2022-04-30 : 09:30:00',
 '2022-04-27 : 09:30:00',
 '2022-04-28 : 14:00:00',
 '2022-04-21 : 09:30:00',
 '2022-04-21 : 09:30:00',
 '2022-04-19 : 14:00:00',
 '2022-04-27 : 18:30:00',
 '2022-04-30 : 14:00:00',
 '2022-04-23 : 14:00:00',
 '2022-04-27 : 14:00:00',
 '2022-04-29 : 14:00:00',
 '2022-04-22 : 14:00:00',
 '2022-04-14 : 19:00:00',
 '2022-04-14 : 14:00:00',
 '2022-04-14 : 19:00:00',
 '2022-04-26 : 09:00:00',
 '2022-04-28 : 19:00:00',
 '2022-04-22 : 19:00:00',
 '2022-04-22 : 19:00:00',
 '2022-04-22 : 19:00:00',
 '2022-04-19 : 19:00:00',
 '2022-04-22 : 14:00:00',
 '2022-04-25 : 19:00:00',
 '2022-04-25 : 19:00:00',
 '2022-04-18 : 19:00:00',
 '2022-04-18 : 19:00:00',
 '2022-04-18 : 19:00:00',
 '2022-04-12 : 19:00:00',
 '2022-04-13 : 19:00:00',
 '2022-04-19 : 09:00:00',
 '2022-04-19 : 09:00:00',
 '2022-04-12 : 19:00:00']

In [123]:
#course_enrollment_values = courses_enrollments_set.values

In [124]:
course_enrollment_values = courses_enrollments_set.drop(["TEP445H1"], axis=0).values

In [125]:
sumHe_s = np.sum(course_enrollment_values, axis=1)
sumHe_s

array([ 1,  5,  1,  1,  1, 28, 48, 75,  1,  2, 24,  4,  1,  9,  1,  2, 31,
        1,  3,  2,  3,  1, 10,  8,  4,  4,  1,  3,  1,  9,  8,  8,  9,  6,
        4,  7,  7,  9,  2,  1,  1,  4, 22,  1,  7,  3,  1,  1,  1,  1,  1,
       59, 34, 16, 30, 32, 31, 31,  8,  7,  2,  7,  6,  2,  9, 10,  8,  4,
        3, 13,  3, 21, 26, 11,  6,  4,  1,  7,  3,  5, 14, 17, 14, 18, 19,
       13, 18,  4,  7, 19, 21, 17,  1,  4, 15, 13,  8,  6,  7,  4, 74, 72,
        6], dtype=int64)

In [126]:
temp_roomcaplist = sumHe_s + 4
temp_roomcaplist

array([ 5,  9,  5,  5,  5, 32, 52, 79,  5,  6, 28,  8,  5, 13,  5,  6, 35,
        5,  7,  6,  7,  5, 14, 12,  8,  8,  5,  7,  5, 13, 12, 12, 13, 10,
        8, 11, 11, 13,  6,  5,  5,  8, 26,  5, 11,  7,  5,  5,  5,  5,  5,
       63, 38, 20, 34, 36, 35, 35, 12, 11,  6, 11, 10,  6, 13, 14, 12,  8,
        7, 17,  7, 25, 30, 15, 10,  8,  5, 11,  7,  9, 18, 21, 18, 22, 23,
       17, 22,  8, 11, 23, 25, 21,  5,  8, 19, 17, 12, 10, 11,  8, 78, 76,
       10], dtype=int64)

In [127]:
len(schdcrselist)

103

In [128]:
print("Exam set:" '\n', schdcrselist,'\n\n', 
      "Course Enrollement Set:" '\n',course_enrollment_values, '\n\n', 
      "Number of students in course:" '\n',sumHe_s, '\n\n', 
      "Room Capacity set:" '\n',roomcaplist, '\n\n'
)

Exam set:
 ['AER302H1S', 'AER372H1S', 'APS105H1S', 'APS105H1S', 'APS106H1S', 'APS106H1S', 'APS106H1S', 'APS112H1S', 'APS113Y1Y', 'APS305H1S', 'APS360H1S', 'APS420H1S', 'APS502H1S', 'BME205H1S', 'BME205H1S', 'BME330H1S', 'BME331H1S', 'BME346H1S', 'CHE354H1S', 'CHE507H1S', 'CIV185H1S', 'CIV209H1S', 'CIV214H1S', 'CIV300H1S', 'CIV313H1S', 'CIV324H1S', 'CIV440H1S', 'ECE110H1S', 'ECE110H1S', 'ECE110H1S', 'ECE159H1S', 'ECE216H1S', 'ECE216H1S', 'ECE221H1S', 'ECE221H1S', 'ECE221H1S', 'ECE231H1S', 'ECE231H1S', 'ECE259H1S', 'ECE302H1S', 'ECE311H1S', 'ECE313H1S', 'ECE318H1S', 'ECE330H1S', 'ECE334H1S', 'ECE334H1S', 'ECE342H1S', 'ECE353H1S', 'ECE356H1S', 'ECE419H1S', 'ECE419H1S', 'ECE421H1S', 'ECE437H1S', 'ECE472H1S', 'ECE472H1S', 'ECE568H1S', 'FOR424H1S', 'FOR424H1S', 'HPS283H1S', 'JRE300H1S', 'JRE410H1S', 'JRE420H1S', 'MAT234H1S', 'MIE210H1S', 'MIE210H1S', 'MIE210H1S', 'MIE210H1S', 'MIE237H1S', 'MIE237H1S', 'MIE253H1S', 'MIE253H1S', 'MIE304H1S', 'MIE311H1S', 'MIE313H1S', 'MIE315H1S', 'MIE315H1S', 'MIE335H1S', 'MIE402H1S', 'MIE457H1S', 'MIE459H1S', 'MSE217H1S', 'MSE218H1S', 'MSE490H1S', 'ANT100Y1Y', 'ANT204H1S', 'AST121H1S', 'CDN221H1S', 'CLA204H1S', 'CSC263H1S', 'CSC263H1S', 'CSC263H1S', 'CSC300H1S', 'CSC317H1S', 'CSC343H1S', 'CSC343H1S', 'CSC384H1S', 'CSC384H1S', 'CSC384H1S', 'CSC401H1S', 'CSC488H1S', 'GGR124H1S', 'GGR124H1S', 'SOC100H1S']

 Course Enrollement Set:
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [1 1 0 ... 0 0 0]
 [0 0 0 ... 1 0 0]
 [0 1 0 ... 0 0 0]]

 Number of students in course:
 [ 1  5  1  1  1 28 48 75  1  2 24  4  1  9  1  2 31  1  3  2  3  1 10  8
  4  4  1  3  1  9  8  8  9  6  4  7  7  9  2  1  1  4 22  1  7  3  1  1
  1  1  1 59 34 16 30 32 31 31  8  7  2  7  6  2  9 10  8  4  3 13  3 21
 26 11  6  4  1  7  3  5 14 17 14 18 19 13 18  4  7 19 21 17  1  4 15 13
  8  6  7  4 74 72  6]

 Room Capacity set:
 [72.0, 110.0, 231.0, 335.0, 384.0, 384.0, 231.0, 2000.0, 2000.0, 44.0, 335.0, 72.0, 108.0, 384.0, 384.0, 35.0, 110.0, 32.0, 50.0, 250.0, 110.0, 108.0, 120.0, 110.0, 112.0, 110.0, 72.0, 384.0, 384.0, 335.0, 309.0, 384.0, 384.0, 384.0, 384.0, 231.0, 384.0, 384.0, 335.0, 57.0, 112.0, 36.0, 309.0, 50.0, 49.0, 72.0, 80.0, 250.0, 50.0, 50.0, 50.0, 309.0, 30.0, 108.0, 106.0, 335.0, 57.0, 80.0, 48.0, 235.0, 309.0, 235.0, 335.0, 74.0, 50.0, 50.0, 50.0, 72.0, 110.0, 108.0, 120.0, 250.0, 112.0, 231.0, 108.0, 106.0, 250.0, 35.0, 106.0, 120.0, 72.0, 72.0, 48.0, 2000.0, 2000.0, 2000.0, 2000.0, 335.0, 384.0, 384.0, 231.0, 2000.0, 231.0, 309.0, 335.0, 235.0, 48.0, 110.0, 335.0, 80.0, 2000.0, 2000.0, 2000.0]

In [129]:
print("Exam Date and time slot:" '\n',examdate_time_list,'\n\n',
      "Room Set:" '\n',crseinroomlist, '\n\n', 
      "Student set:" '\n', Student_ID_List,'\n\n')

Exam Date and time slot:
 ['2022-04-22 : 14:00:00', '2022-04-27 : 18:30:00', '2022-04-23 : 09:30:00', '2022-04-23 : 09:30:00', '2022-04-23 : 09:30:00', '2022-04-23 : 09:30:00', '2022-04-23 : 09:30:00', '2022-04-19 : 09:30:00', '2022-04-19 : 09:30:00', '2022-04-28 : 14:00:00', '2022-04-21 : 14:00:00', '2022-04-19 : 18:30:00', '2022-04-29 : 09:30:00', '2022-04-26 : 09:30:00', '2022-04-26 : 09:30:00', '2022-04-25 : 18:30:00', '2022-04-26 : 14:00:00', '2022-04-28 : 18:30:00', '2022-04-29 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-21 : 09:30:00', '2022-04-28 : 09:30:00', '2022-04-19 : 09:30:00', '2022-04-29 : 14:00:00', '2022-04-27 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-25 : 14:00:00', '2022-04-21 : 09:30:00', '2022-04-21 : 09:30:00', '2022-04-21 : 09:30:00', '2022-04-21 : 14:00:00', '2022-04-28 : 14:00:00', '2022-04-28 : 14:00:00', '2022-04-20 : 09:30:00', '2022-04-20 : 09:30:00', '2022-04-20 : 09:30:00', '2022-04-25 : 09:30:00', '2022-04-25 : 09:30:00', '2022-04-22 : 18:30:00', '2022-04-27 : 09:30:00', '2022-04-25 : 14:00:00', '2022-04-26 : 14:00:00', '2022-04-30 : 09:30:00', '2022-04-22 : 14:00:00', '2022-04-19 : 14:00:00', '2022-04-19 : 14:00:00', '2022-04-27 : 18:30:00', '2022-04-21 : 09:30:00', '2022-04-20 : 14:00:00', '2022-04-20 : 14:00:00', '2022-04-20 : 14:00:00', '2022-04-26 : 18:30:00', '2022-04-20 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-30 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-21 : 18:30:00', '2022-04-29 : 09:30:00', '2022-04-19 : 09:30:00', '2022-04-28 : 09:30:00', '2022-04-26 : 18:30:00', '2022-04-20 : 09:30:00', '2022-04-20 : 09:30:00', '2022-04-20 : 09:30:00', '2022-04-20 : 09:30:00', '2022-04-25 : 18:30:00', '2022-04-25 : 18:30:00', '2022-04-30 : 09:30:00', '2022-04-30 : 09:30:00', '2022-04-30 : 09:30:00', '2022-04-27 : 09:30:00', '2022-04-28 : 14:00:00', '2022-04-21 : 09:30:00', '2022-04-21 : 09:30:00', '2022-04-19 : 14:00:00', '2022-04-27 : 18:30:00', '2022-04-30 : 14:00:00', '2022-04-23 : 14:00:00', '2022-04-27 : 14:00:00', '2022-04-29 : 14:00:00', '2022-04-22 : 14:00:00', '2022-04-14 : 19:00:00', '2022-04-14 : 14:00:00', '2022-04-14 : 19:00:00', '2022-04-26 : 09:00:00', '2022-04-28 : 19:00:00', '2022-04-22 : 19:00:00', '2022-04-22 : 19:00:00', '2022-04-22 : 19:00:00', '2022-04-19 : 19:00:00', '2022-04-22 : 14:00:00', '2022-04-25 : 19:00:00', '2022-04-25 : 19:00:00', '2022-04-18 : 19:00:00', '2022-04-18 : 19:00:00', '2022-04-18 : 19:00:00', '2022-04-12 : 19:00:00', '2022-04-13 : 19:00:00', '2022-04-19 : 09:00:00', '2022-04-19 : 09:00:00', '2022-04-12 : 19:00:00']

 Room Set:
 [28.0, 56.0, 128.0, 325.0, 192.0, 191.0, 101.0, 945.0, 6.0, 44.0, 283.0, 47.0, 100.0, 193.0, 93.0, 9.0, 61.0, 26.0, 48.0, 30.0, 101.0, 104.0, 112.0, 95.0, 110.0, 108.0, 69.0, 179.0, 197.0, 341.0, 285.0, 166.0, 206.0, 176.0, 183.0, 30.0, 170.0, 204.0, 283.0, 54.0, 115.0, 33.0, 132.0, 15.0, 41.0, 43.0, 78.0, 106.0, 50.0, 44.0, 53.0, 185.0, 16.0, 109.0, 104.0, 195.0, 48.0, 63.0, 41.0, 175.0, 195.0, 219.0, 188.0, 72.0, 48.0, 50.0, 17.0, 68.0, 64.0, 9.0, 121.0, 52.0, 86.0, 195.0, 106.0, 86.0, 123.0, 8.0, 28.0, 102.0, 59.0, 66.0, 48.0, 921.0, 248.0, 81.0, 144.0, 282.0, 191.0, 127.0, 221.0, 211.0, 196.0, 302.0, 179.0, 235.0, 29.0, 110.0, 202.0, 70.0, 361.0, 352.0, 808.0]

 Student set:

In [130]:
import pickle

In [131]:
# print("Exam set:" '\n', schdcrselist,'\n\n', 
#       "Course Enrollement Set:" '\n',course_enrollment_values, '\n\n', 
#       "Number of students in course:" '\n',sumHe_s, '\n\n', 
#       "Room Capacity set:" '\n',roomcaplist, '\n\n'
# )
# print("Exam Date and time slot:" '\n',examdate_time_list,'\n\n',
#       "Room Set:" '\n',crseinroomlist, '\n\n', 
#       "Student set:" '\n', Student_ID_List,'\n\n')

In [134]:
with open('Exam_set_Pickle.pkl', 'wb') as f:
    pickle.dump(schdcrselist, f)

with open('Student_set_Pickle.pkl', 'wb') as f:
    pickle.dump(Student_ID_List, f)
    
with open('Timeslots_Pickle.pkl', 'wb') as f:
    pickle.dump(examdate_time_list, f)
    
with open('Rooms_Pickle.pkl', 'wb') as f:
    pickle.dump(crseinroomlist, f)

with open('course enrolments_Pickle.pkl', 'wb') as f:
    pickle.dump(course_enrollment_values, f)
    
with open('Room_Capacity.pkl', 'wb') as f:
    pickle.dump(roomcaplist, f)